[submodule "submodules/FTXUI"]
	path = submodules/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "submodules/asio"]
	path = submodules/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/CLI11"]
	path = submodules/CLI11
	url = https://github.com/CLIUtils/CLI11.git
