[submodule "FTXUI"]
    path = submodules/FTXUI
    url = https://github.com/ArthurSonzogni/FTXUI.git

[submodule "asio"]
    path = submodules/asio
    url = https://github.com/chriskohlhoff/asio
[submodule "submodules/FTXUI"]
	path = submodules/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "submodules/asio"]
	path = submodules/asio
	url = https://github.com/chriskohlhoff/asio.git
